/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.fseTest {
	background-color: white;
	color: black;
	font-weight: bold;
	text-align: left;
}

.fseLoggedPartyLabel {
	color: black;
	font-weight: bold;
	text-align: left;
}

.fseLoggedUserLabel {
	color: black;
	font-style: italic;
	font-size: 9pt;
	font-weight: normal;
	text-align: right;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/*  hilite cells replace  */
.myGridColorCell,.myGridColorCellDark {
	background-color: #FF0000;
}

.myGridColorCellOver,.myGridColorCellOverDark {
	background-color: #FF0000;
}

.myGridColorCellSelected,.myGridColorCellSelectedDark {
	background-color: #FF0000;
}

.myGridColorCellSelectedOver,.myGridColorCellSelectedOverDark {
	background-color: #FF0000;
}

.myGridColorCellDisabled,.myGridColorCellDisabledDark {
	background-color: #E41B17;
}

.myHighGridCell,.myHighGridCellDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #ffc0c0;
	border-top: 1px solid #ffc0c0;
	background-color: #ffc0c0;
}

.myHighGridCellOver,.myHighGridCellOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background-color: #ffe0e0;
}

.myHighGridCellSelected,.myHighGridCellSelectedDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #ffc0ff;
	border-top: 1px solid #ffc0ff;
	background-color: #ffc0ff;
}

.myHighGridCellSelectedOver,.myHighGridCellSelectedOverDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: black;
	border-bottom: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	background-color: #ffe0ff;
}

.myHighGridCellDisabled,.myHighGridCellDisabledDark {
	font-family: Verdana, Bitstream Vera Sans, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: #808080;
	border-bottom: 1px solid #ffc0c0;
	border-top: 1px solid #ffc0c0;
	background-color: #ffc0c0;
}

.fsenetHintStyle {
	 padding:2px;
	 margin:10px;
     max-width: 25px;
	 min-width: 25px;
	 font-size: 100%;
	 color: #455668;
}

.fsenetMandatoryTextItem,
.fsenetMandatoryTextItemFocused {
	padding:2px;
    background:#FFFFFF;
    color:black;
	border-top:2px solid #0083ff;
    border-left:2px solid #0083ff;
    border-right:2px solid #0083ff;
    border-bottom:2px solid #0083ff;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

.fsenetConditionalTextItem,
.fsenetConditionalTextItemFocused {
	padding:2px;
    background:#FFFFFF;
    color:black;
	border-top:2px solid #DED647;
    border-left:2px solid #DED647;
    border-right:2px solid #DED647;
    border-bottom:2px solid #DED647;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}